@import "../../styles/contants.scss";
.wrapper {
    .container {
        // align-items: flex-start;
        @media (max-width: $lg) {
            flex-direction: column-reverse;
        }
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        > div {
            flex: 1;
        }
        .left {
            justify-content: center;
            display: flex;
            gap: 2rem;
            background-image: url("../orange-splash.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            .person {
                img {
                    height: 750px;
                    object-fit: cover;
                    width: 30rem;
                    @media (max-width: $sm) {
                        height: 550px;
                        width: 23rem;
                    }
                }
            }
        }
        .right {
            @media (max-width: $lg) {
                justify-content: center;
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            // gap: 2rem;
            > :nth-child(1) {
                color: $secondary;
            }
            h1 {
                font-size: 50px;
                @media (max-width: $sm) {
                    font-size: 40px;
                }
            }
            h3 {
                margin-top: 5%;
                font-size: larger;
                color: rgb(184, 184, 184);
                @media (max-width: $sm) {
                    display: none;
                }
            }
        }
    }
}
